* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Sans-Serif;
}
body {
    background: rgb(36, 33, 43);
}
nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: mediumpurple;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo {
    color: white;
}
nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
a:hover {
    background: #c3acec;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.menu-icon {
    display: none;
}
.menu-icon i {
    color: white;
    font-size: 30px;
}
@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: mediumpurple;
        gap: 0;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    nav ul li {
        padding: 20px;
    }
    a:hover {
        color: #d6c7f2;
        background: none;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    .menu-icon {
        display: block;
    }
}
#menuList {
    transition: all 0.3s;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    color: white;
}
.card {
    width: 325px;
    background: #a590cf;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 3px 50px #a590cf;
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #9178c4;
}
.card-content {
    padding: 16px;
}
.card-content h2 {
    color: ghostwhite;
    margin-bottom: 8px;
}
.card-content p {
    color: antiquewhite;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn {
    display: inline-block;
    padding: 8px 15px;
    color: white;
    background: #a590cf;
    border-radius: 4px;
    margin-top: 16px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.71);
}
